.commit
  padding: 1.3em
  border: 1px solid $gray
  font-size: .8em
  color: $gray
  margin-top: 1.2em
  display: flex
  overflow: auto

  .icon
    float: left

  .icon::before
    float: left
    content: ""
    display: block
    width: $icon-size
    height: $icon-size
    background: image-url('code.svg')

  .actions
    float: right
    margin-top: 2px

    .clone
      @extend .button-bluegray
      color: $light-gray !important

    .clone:visited
      color: $light-gray !important

    a
      text-decoration: none

    a:visited
      color: $light-gray !important

    a span
      color: $light-gray !important

  .message
    float: left
    max-width: 24rem
    margin: 2px auto 0px 0.8em
